.bg1 {
    background-image:url('/Assets/images/bg/bg1.jpg');
}
.bg2 {
    background: linear-gradient(#84afea, #3780e5);
}
.bg3{
    background-image: url('/Assets/images/bg/sampleImage.jpg');
}
.bg4 {
    background-image:url('/Assets/images/bg/bg4.jpg');
}

.divTransparent {
    opacity:0.7;
    filter:alpha(opacity=50);
}
.fontFranklinGothicMedium {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.marginNavBar {
    padding-top:100px;
}

.contentDiv {
    position:absolute; margin-top:50px; width:100%; z-index: -1;
}
.displayMargin100px {
    margin-top:100px;
}
.tableWidth1000px {
    width:1000px;
}

.mainNav {
    width: 100%;
}

.facebook{

}