<div>
    <table style="width:1000px;">
        <tr>
            <td>
                <center>
                    <table style="height:100px;">
                        <tr>
                            <td>
                                <input type="button" value="ADD" ng-click="ChangeModes(1)" ng-disabled="isAddingEnable" />
                            </td>
                            <td>
                                <input type="button" value="DELETE" ng-click="ChangeModes(2)" ng-disabled="isDeleteEnable" />
                            </td>
                            <td>
                                <input type="button" value="EDIT" ng-click="ChangeModes(3)" ng-disabled="isEditEnable" />
                            </td>
                        </tr>
                    </table>
                </center>
            </td>
        </tr>
        <tr>
            <td>
                <div ng-show="isAddingEnable">
                    <h1>ADD</h1>
                    <select ng-model="genreSelected" ng-change="CheckGenreSelected(genreSelected)">
                        <option value="1">Despenser</option>
                        <option value="2">Product</option>
                        <option value="-1">Add New Genre</option>
                    </select>
                    <table>
                        <tr ng-if="enableNewGenre">
                            <td>
                                <input type="text" value="" placeholder="Genre" />
                            </td>
                            <td>
                                <input type="button" value="ADD" ng-click="AddNewProductGenre()" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="text" placeholder="Product Name"/>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <textarea placeholder="Product Brief Description" style="width:300px; height:200px;"></textarea>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="file" ng-model="imageUploaded" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span ng-bind="imageUploaded"></span>
                                <img src="" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="text" placeholder="Price" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="button" value="ADD" />
                            </td>
                        </tr>
                    </table>
                    <!--Display Products Under in that genre-->
                </div>
                <div ng-show="isDeleteEnable">
                    <h1>DELETE</h1>
                    <product-view-filter ng-if="isDeleteEnable" mode="1"></product-view-filter>
                </div>
                <div ng-show="isEditEnable">
                    <h1>Edit</h1>
                    <product-view-filter ng-if="isEditEnable" mode="2"></product-view-filter>
                </div>
            </td>
        </tr>
    </table>
</div>


