<div>
    <div class="row margin-custom">
        <div class="col-xs-4">
            <nav class="navbar" style="background-color:rgba(255,255,255,0.3); padding:30px; border-radius:50px;" >
                <div class="form-group ">
                    <input type="text" class="form-control" placeholder="Username" ng-model="username" aria-describedby="basic-addon1" required/>
                </div>
                <div class="form-group ">
                    <input type="password" class="form-control" aria-describedby="basic-addon1" placeholder="Password" ng-model="password" required/>
                </div>

                <div class="form-group">
                    <input type="password" class="form-control" aria-describedby="basic-addon1" placeholder="Re-Type Password" ng-model="repassword" required/>
                </div>

                <div class="form-group">
                    <input type="text" class="form-control" aria-describedby="basic-addon1" placeholder="First Name" ng-model="firstname"  required/>
                </div>

                <div class="form-group">
                    <input type="text" class="form-control" aria-describedby="basic-addon1" placeholder="Middle Name" ng-model="middlename" required/>
                </div>

                <div class="form-group">
                    <input type="text" class="form-control" aria-describedby="basic-addon1" placeholder="Last Name" ng-model="lastname" required/>
                </div>
                <div class="form-group">
                    <select ng-model="sex" style="width:100%">
                        <option value="1">Male</option>
                        <option value="2">Female</option>
                    </select>
                </div>
                <div class="form-group">
                    <verification-code image="choosenVerification"></verification-code>
                </div>
                <div class="form-group">
                    <input type="button" value="Change Verification Code" ng-click="changeVerificationCode()"/>
                </div>
                <div class="form-group">
                    <div class="form-inline">
                        <select class="form-control" ng-model="birthMonth">
                            <option ng-repeat="month in enumMonth" value="{{month.m}}">{{month.m}}</option>
                        </select>
                        <select class="form-control" ng-model="birthDay">
                            <option ng-repeat="day in enumDay" value="{{day.d}}">{{day.d}}</option>
                        </select>
                        <input type="text" class="form-control" placeholder="YYYY" ng-model="birthYear"/>
                    </div>
                </div>
                <input type="button" ng-click="submit()" class="btn btn-md btn-hover btn-info btn-block" value="SIGN UP" />
            </nav>
        </div>
    </div>
</div>

