.displayImageImageTable {
overflow-y:scroll; 
display:block; 
height:150px;
width:1000px;
}
.displayImageImg{
  margin:auto;
  width: 150px;
  height: 100px;
}
.origDisplayImg {
    width:1000px;
    height:400px;
}
