<div>
    <div>
        <h1>News Modification</h1>
        <table>
            <tr>
                <td>
                    <input type="button" value="ADD" ng-disabled="(mode==1)?true:false" ng-click="SwitchMode(1)"/>
                </td>
                <td>
                    <input type="button" value="EDIT" ng-disabled="(mode==2)?true:false" ng-click="SwitchMode(2)"/>
                </td>
                <td>
                    <input type="button" value="DELETE" ng-disabled="(mode==3)?true:false" ng-click="SwitchMode(3)"/>
                </td>
            </tr>
        </table>
        <table ng-if="(mode==1)?true:false">
            <tr>
                <td>
                    <h1>ADD NEWS</h1>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="text" placeholder="Title" style="width:500px;" />
                </td>
            </tr>
            <tr>
                <td>
                    <textarea placeholder="News Description" style="width:500px; height:200px;"></textarea>
                </td>
            </tr>
            <tr>
                <td>
                    <table>
                        <tr>
                            <td>
                                <input type="file" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <img src="{{news.images[0].image}}" style="width:100px; height:100px;" />
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <table>
                        <tr>
                            <td>
                                <input type="text" placeholder="Youtube Video Code" ng-model="videoCode" />
                            </td>
                            <td>
                                <input type="button" ng-click="AddVideo_OnClicked(videoCode)" value="ADD VIDEO" />
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <table style="overflow-x:scroll;display:block; width:500px;height:150px;">
                        <tr>
                            <td ng-repeat="video in news.videos">
                                <table>
                                    <tr>
                                        <td>
                                            <img src="{{video.thumbnail}}" style="width:100px; height:100px;" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <center>
                                                <input type="button" value="DELETE" ng-click="DeleteVideo_OnClicked($index)" />
                                            </center>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="button" value="POST NEWS" ng-click="Post_OnClicked()" />
                </td>
            </tr>
        </table>
        <table ng-if="(mode==2)?true:false">
            <tr>
                <td>
                    <h1>EDIT NEWS</h1>
                </td>
            </tr>
            <tr>
                <td>
                    <display-news mode="1"></display-news>
                </td>
            </tr>
        </table>
        <table ng-if="(mode==3)?true:false">
            <tr>
                <td>
                    <h1>DELETE NEWS</h1>
                    <display-news mode="2"></display-news>
                </td>
            </tr>
            <tr>
                <td>
                        
                </td>
            </tr>
        </table>

    </div>
        
</div>


