<section>
        <div>
            <h1>Inbox Section</h1>
            <table style="">
                <tr ng-if="isadmin">
                    <td>
                        <select ng-model="options" ng-change="OnOptionSettingChanged(options)">
                            <option value="1">Disable Selection</option>
                            <option value="2">Enable Selection</option>
                            <option value="3">Select All</option>
                        </select>
                    </td>
                    <td>
                        <input type="button" value="DELETE" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <table style="overflow-y:scroll; display:block; height:300px; width:200px">
                                <tr ng-repeat="item in messages">
                                    <td  ng-if="enableSelection">
                                        <input type="checkbox" ng-model="item.isSelected" />
                                    </td>
                                    <td>
                                        <a ng-click="showInformation(item)">
                                            <div style="width:200px; height:50px; background-color:yellow" ng-init="CheckIfUnread(item)">
                                                <p ng-bind="item.sender_username"></p>
                                            </div>
                                        </a>
                                    </td>
                                </tr>
                         </table>
                    </td>
                    <td>
                        <table style="overflow-y:scroll; display:block; height:300px; width:400px">
                            <tr>
                                <td>
                                    <inbox-message content="content" username="username" subject="subject"></inbox-message>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
</section>