<div>
    <table>
        <tr>
            <td>
                <h5 ng-if="username!=''">FROM: <span ng-bind="username"></span></h5>
            </td>
        </tr>
        <tr>
            <td>
                <h6 ng-if="subject != ''">Subject: <span ng-bind="subject"></span></h6>
            </td>
        </tr>
        <tr ng-repeat="itm in content">
            <td>
                <table>
                    <tr>
                        <td>
                            <div style="word-break:break-word; width:380px; background-color:yellow;">
                                <p ng-bind="itm.message"></p>
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>

</div>