<div>
    <table>
        <tr ng-repeat="video in videos">
            <td>
                <table>
                    <tr>
                        <td>
                            <img src="video.thumbnail" style="" />
                        </td>
                    </tr>
                    <tr ng-if="(mode==1)?true:false">
                        <td>
                            <input type="button" value="DELETE"  ng-click="Remove(video.id)" />
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>
