<div>
    <table style="overflow-y:scroll;display:block;width:400px; height:600px;">
        <tr>
            <td>
                <div style="background-color:white; width:400px; height:30px;">
                    <p><b>TODAYS TOP STORIES</b></p>
                </div>
            </td>
        </tr>
        <tr ng-repeat="new in news">
            <td>
                <div style="background-color:yellow; width:400px; height:70px; margin-bottom:10px">
                    <a ng-click="ShowNewsInformationPreview(new)">
                        <table>
                            <tr>
                                <td>
                                    <p ng-bind="new.title"></p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h5 ng-bind="new.content | limitTo:30"></h5>
                                </td>
                            </tr>
                        </table>
                    </a>
                </div>
            </td>
        </tr>
        <!--New Data Here-->

    </table>
</div>


