<div>
    <center ng-controller="adminDashboardCtrl">
        <h1>Admin Dashboard</h1>
        <div ng-if="isEnableProductModify">
            <h1>Product Modification</h1>
            <product-modify></product-modify>
        </div>
        <div ng-if="isEnableNewsModify">
            <news-modify></news-modify>
        </div>
        <div ng-if="isEnableOrderModify">
            <h1>Order Managerment</h1>
        </div>
        <div ng-if="isEnableSettingsModify">
            <h1>Settings</h1>
        </div>


    </center>
</div>





