<div>
    <input type="button" value="DELETE" ng-if="(mode==1)?true:false"/>
    <table>
        <tr ng-repeat="row in items">
            <td ng-repeat="col in row.items" style="padding-right:50px; padding-top:50px">
                <table class="bgColorWhiteTransparent padding10px borderRadius50px wordBreak">
                    <tr ng-if="(mode==1)?true:false">
                        <td>
                            <center>
                                <input type="checkbox" />
                            </center>
                        </td>
                    </tr>
                    <tr ng-if="(mode==2)?true:false">
                        <td>
                            <center>
                                <input type="button" value="EDIT" />
                            </center>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img  src="{{col.source}}" style="width:200px; height:200px; border-radius:50px;"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <center>
                                <p ng-bind="col.item"></p>
                            </center>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <center>
                                <p>{{col.price}}</p>
                            </center>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <center>
                                <input type="button" value="LEARN MORE" ng-click="LearnMore_OnClicked(col)" />
                            </center>
                        </td>
                    </tr>
                    <tr ng-if="enablePurchase">
                        <td>
                            <center>
                                <input type="button" value="BUY" />
                            </center>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>


