<div>
    <table>
        <tr ng-repeat="row in items">
            <td ng-repeat="col in row.items" style="padding-right:50px; padding-top:50px">
                <table>
                    <tr>
                        <td>
                            <img src="{{col.source}}" style="width:200px; height:200px"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <center>
                                <p>{{col.item}}</p>
                            </center>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <center>
                                <p>{{col.price}}</p>
                            </center>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <center>
                                <input type="button" value="BUY" />
                            </center>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>


