<div>
    <table>
        <tr ng-repeat="row in items">
            <td ng-repeat="col in row.items">
                <table>
                    <tr>
                        <td>
                            <img src="col.source" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>{{col.item}}</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>{{col.price}}</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="button" value="BUY"/>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>


